<?xml version="1.0" encoding="utf-8"?>
<application project_name="SpaceShips" version="0.01" runtime_version="1.12" sdk_version="1.12.02" default_locale="es-ES">
  <name>
    <localized_item locale="en-US" value="SpaceShips" />
    <localized_item locale="en-GB" value="SpaceShips" />
    <localized_item locale="ja-JP" value="SpaceShips" />
    <localized_item locale="fr-FR" value="SpaceShips" />
    <localized_item locale="es-ES" value="SpaceShips" />
  </name>
  <short_name>
    <localized_item locale="en-US" value="RS" />
    <localized_item locale="en-GB" value="RS" />
    <localized_item locale="ja-JP" value="RS" />
    <localized_item locale="fr-FR" value="RS" />
    <localized_item locale="es-ES" value="RS" />
  </short_name>
  <parental_control lock_level="3" />
  <rating_list highest_age_limit="7" has_online_features="false">
    <online_features chat="false" personal_info="false" user_location="false" exchange_content="false" />
    <rating type="ESRB" value="3" age="3" code="ESRB_000_dummy" />
    <rating type="PEGIEX" value="7" age="7" code="PEGI_000_dummy" />
    <rating type="SELF" value="3" age="3" />
  </rating_list>
  <images icon_128x128="icon_image\icon128.png" icon_256x256="icon_image\icon256.png" icon_512x512="icon_image\icon512.png" splash_854x480="icon_image\splash.png" />
  <genre_list>
    <genre value="Games:Shooter" />
    <genre value="Games:Action" />
  </genre_list>
  <developer>
    <name value="psm test" />
  </developer>
  <website href="http:\\doppelgangergames.wordpress.com/" />
  <copyright author="Copyright(c)2014 Francisco Elias Serrano Martinez-Santos" text="LICENSE" />
  <purchase>
    <product_list />
  </purchase>
  <runtime_config>
    <memory managed_heap_size="65536" resource_heap_size="32767" />
  </runtime_config>
  <feature_list>
    <feature value="GamePad" />
	<feature value="Touch" />
  </feature_list>
</application>